@model IEnumerable<IGL.Core.Entities.Master.EmployeeType>
@{
    ViewData["Title"] = "Product Master";
}

<section class="content-header">
    <h1>
        Employee Type
    </h1>
</section>
<section class="content container-fluid">
    <section class="content">
        <div class="row" id="divEmployeeType">
        </div>
    </section>
    @await Html.PartialAsync("~/Views/Shared/IGLCommanModal.cshtml")
</section>


<environment include="Production">
    <script src="~/js/EmployeeType/employeeType.js"></script>
    
</environment>
<environment include="Development">
    <script src="~/js/EmployeeType/employeeType.js"></script>
</environment>