/IGL.Core.Comman/obj
/IGL.Core.Comman/bin
/IGL.Core.Entities/obj
/IGL.Core.Entities/bin
/IGL.Core.Repository/obj
/IGL.Core.Repository/bin
/IGL.Core.Service/obj
/IGL.Core.Service/bin
/IGL.Core.ViewModelEntities/obj
/IGL.Core.ViewModelEntities/bin
/IGL.Infastructure.Implementation/obj
/IGL.Infastructure.Implementation/bin
/IGL.Infrastructure.Repository/obj
/IGL.Infrastructure.Repository/bin
/IGL.UI/obj
/IGL.UI/bin
/.vs/IGL/v16/*.suo
