@{
    ViewData["Title"] = "Vendor Detail";
}

<section class="content-header">
    <h1>
        Vendor Detail
    </h1>
</section>
<section class="content container-fluid">
    <section class="content">
        <div class="row" id="divVendorIndex">
        </div>
    </section>
    @await Html.PartialAsync("~/Views/Shared/IGLCommanModal.cshtml")
</section>


<environment include="Production">
    <script src="~/js/Inventory/Vendor.js"></script>
</environment>
<environment include="Development">
    <script src="~/js/Inventory/Vendor.js"></script>
</environment>