<div class="modal fade" id="IGLCommanModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="customAjax.Fn_ReloadPage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divCommanModalPartial">

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger float-right" onclick="customAjax.Fn_ReloadPage()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>