@model IGL.Core.Entities.Master.UnitMaster

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form id="form" method="post" data-ajax="true" data-ajax-method="post"
      asp-action="UpSertUnitMaster" asp-controller="UnitMaster" data-ajax-success="customAjax.Fn_SubmitSuccess"
      data-ajax-begin="customAjax.Fn_SubmitBegin" data-ajax-complete="customAjax.Fn_SubmitComplete">
    <div class="card card-default" id="divCreate">
        <div class="card-header">
            <h3 class="card-title">Create Unit Master</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" />
                        <label asp-for="Name">Unit Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Code">Unit Code</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-code"></i></span>
                            </div>
                            <input asp-for="Code" class="form-control" />
                        </div>
                        <span asp-validation-for="Code"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-8">
                    <input type="submit" class="btn btn-success float-right" value="Save" />
                </div>
                <div class="col-md-4">
                    <input type="reset" class="btn btn-danger float-left" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</form>