@model IEnumerable<IGL.Core.Entities.SIV.IGLProductPoWise>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    IGL Product Po Wise Details
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Po Number
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
